.vscode/**
.vscode-test/**
src/**
node_modules/**
.github/**
.venv/**
cpp/**
pcg-launcher/**
scripts/**
docs/**
test/**
.git/**
.gitignore
tsconfig.json
webpack.config.js
**/*.map
**/*.ts
package-lock.json
celeste-map-editor-*.vsix
!dist/**

